.comment {
  margin-top: 1.5rem;
  display: flex;
  gap: 1rem;
}

.comment--box {
  flex: 1;
}

.comment--content {
  background: var(--gray-700);
  border-radius: 8px;
  padding: 1rem;
}

.comment--header {
  display: flex;
  align-items: flex-start;
  justify-content: space-between;
}

.comment--name {
  display: block;
  font-size: 0.875rem;
  line-height: 1.6;
}

.comment--time {
  display: block;
  font-size: 0.75rem;
  line-height: 1.6;
  color: var(--gray-400);
}

.comment--delete {
  background: transparent;
  border: 0;
  color: var(--gray-400);
  cursor: pointer;
  line-height: 0;
  border-radius: 2px;
  transition: 0.2s color;
}

.comment--delete:hover {
  color: var(--red-500);
}

.comment--content p {
  margin-top: 1rem;
  color: var(--gray-300);
}

.comment--footer {
  margin-top: 1rem;
}

.comment--like {
  background: transparent;
  border: 0;
  color: var(--gray-400);
  cursor: pointer;
  transition: 0.2s color;
  border-radius: 2px;

  display: flex;
  align-items: center;
}

.comment--like:hover {
  color: var(--green-300);
}

.comment--like svg {
  margin-right: 0.5rem;
}

.comment--num-likes::before {
  content: "\2022";
  padding: 0 0.25rem;
  left: 1rem;

}